<!DOCTYPE HTML>
<html>
  <head>
    <script src="application.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixedtop" role="navigation">
      <div class="navbar-inner">
        <div class="container">
          <h4 class="navbar-brand" id="brand"><font color="white">Jonathan Lei</font></h4>
        </div>
      </div>
    </nav>
   
    <p>Time</p>
    <select id="time">
      <option></option>
      <option>1:00</option>
      <option>2:00</option>
      <option>3:00</option>
      <option>4:00</option>
      <option>5:00</option>
      <option>6:00</option>
      <option>7:00</option>
      <option>8:00</option>
      <option>9:00</option>
      <option>10:00</option>
      <option>11:00</option>
      <option>13:00</option>
      <option>14:00</option>
      <option>15:00</option>
      <option>16:00</option>
      <option>17:00</option>
      <option>18:00</option>
      <option>19:00</option>
      <option>20:00</option>
      <option>21:00</option>
      <option>22:00</option>
      <option>23:00</option>
      <option>24:00</option>
    </select>
    <p>Description</p>
    <input type="text" id="description"></input><br></br>
    
    <table id="calendar" border="1" cellpadding="10" width="99%">
      
      <tr>
        <th><a id = yearBack> << </a></th>
        <th><a id=monthBack> < </a></th>
        <th id=monthYear colspan="3"></th>
        <th><a id=monthForward> > </a></th>
        <th><a id=yearForward> >> </a></th>
      </tr>
      
      <tr>
        <td>Sun</td>
        <td>Mon</td>
        <td>Tues</td>
        <td>Wed</td>
        <td>Thur</td>
        <td>Fri</td>
        <td>Sat</td>
      
      </tr>
      
      <tr class="week"></tr>
      <tr class="week"></tr>
      <tr class="week"></tr>
      <tr class="week"></tr>
      <tr class="week"></tr>
      <tr class="week"></tr>
      
      
    </table>
    
    
  </body>
</html>


