<h1>Project 2 summary</h1>
<p>
  For this project I installed the Twitter Bootstrap gem on terminal.
  I then created a new page in the views for project 2.  Added the routes for the new
  page in the routes.rb.  After adding the routes, I went to the stylesheets and added
  a bootstrap_and_overides.css.scss file where I imported bootstrap.  In the javascripts
  folder I modified the application.js to require bootstrap.  Finally I went back to the
  page I created for this section and wrote my summary.
</p>
